<!DOCTYPE html>
<html lang="<%= config.language %>" itemscope itemtype="http://schema.org/Blog">
<%- partial('_partial/head') %>
<body>
<div id="main" class="hfeed">
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <div class="wrapper">
      <section id="content" role="main">
        <%- body %>
      </section>
      <aside id="sidebar"><%- partial('_partial/sidebar') %></aside>
      <footer id="footer"><%- partial('_partial/footer') %></footer>
  </div>
</div>
  <%- partial('_partial/after_footer') %>
</body>
</html>
