<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <%
  var title = [], link = config.url;
  
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>">
  <% } else if (page.excerpt){ %>
    <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
    <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>">
  <% } %>
  <meta itemprop="description" content="<%= config.description %>">

  <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (config.feed) { %>
    <link rel="alternative" href="<%= config.root %><%= config.feed.path %>" title="<%= config.name %>" type="application/atom+xml">
  <% } %>
  <link rel="canonical" href="<%= config.url %>/<%= page.path %>">
  <% if (config.author){ %><meta itemprop="author" name="author" content="<%= config.author %>"><% } %>
  <link rel="author" href="https://plus.google.com/100062897572011647423" />

  <%- open_graph({
    twitter_id: theme.twitter.username, 
    google_plus: theme.google_plus, 
    fb_admins: theme.fb_admins, 
    fb_app_id: theme.fb_app_id
  }) %>
  <meta property="og:locale" content="<%= config.language %>"/>
  <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %>
    <meta itemprop="image" property="og:image" content="<%= config.cover %>"/>
  <% } %>

  <link href="<%- config.root %>favicon.ico" rel="icon" type="image/png">
  <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
</head>
