<div id="title">
  <h1 itemprop="name"><a rel="home" itemprop="url" href="<%- config.root %>" ><%= config.title %></a></h1>
</div>
<div class="buttons"></div>
<div class="clearfix"></div>
<nav id="main-nav">
  <ul role="menubar">
    <% for (var i in theme.menu){ %>
      <li role="menuitem"><a href="<%- theme.menu[i] %>"><%= i %></a></li>
    <% } %>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>
