<nav id="pagination" role="navigation">
  <% if (page.prev){ %>
    <a href="<%- config.root %><%- page.prev_link %>" class="prev" rel="prev"><%= __('prev') %></a>
  <% } %>
  <% if (page.next){ %>
    <a href="<%- config.root %><%- page.next_link %>" class="next" rel="next"><%= __('next') %></a>
  <% } %>
  <div class="clearfix"></div>
</nav>
